
body {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

/* navbar */
.navbar-links {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
}

.radius {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#logo {
    margin-left: 70px;
    margin-right: 50px;
    max-height: 65px;
    max-width: 65px;
}

.login-btn {
    margin-right: 70px;
    margin-left: 70px;
}

.profile-pic {
    margin: auto;
}


/* home - landing page */
.landing {
    background-image: url("https://hrcdn.net/patterns/coffee.png");
    background-size: cover;
}

.align {
    color : white;
    text-align: center;
}

.large {
    font-size: 45px;
    padding-top: 80px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.less_large {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.jumbo-height {
    height: 650px;
}


/*FOOTER */
.footer {
    text-align: center;
    font-family: 'Courgette', cursive;
    margin: auto;
    font-size: 20px;
    color: white;
}

.font-feedback {
    font-family: 'Montserrat', sans-serif;
}


/* About */
.twitter-logo {
    color: #1DA1F2;
}

.linkedin-logo {
    color: #005F91;
}

.about-back {
    background-image: url("../about_back.jpg");
}

.font-primary {
    font-family: 'Source Code Pro', monospace;
}

.font-secondary {
    font-family: 'Karla', sans-serif;
}


/* compiler */
.font-io {
    font-family: 'Aldrich', sans-serif;
    font-size: 30px;
}

.io {
    font-family: 'PT Sans', sans-serif;
    float = left;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    height: 600px;
    width: 100%;
    font-size: 22px;
    color: #f700dc;
}

#input {
    font-family: 'PT Sans', sans-serif;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    height: 300px;
    font-size: 18px;
    color: #f700dc;
}
